h1{
  border: 2px solid black;
  width: 50%;
  font-size: 2rem;
}

.circle{
  margin: 3rem auto;
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000;
}