*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font: 1.5rem sans-serif;
  min-height: 100vh;
}

.container{
  background-color: #333;
  width: 100vw;
  height: 100vh;
}

.box{
  background-color: beige;
  width: 300px;
  height: 100px;
  border: 3px solid #000;
  border-radius: 20px;
  position: relative;
  animation-name: rightMovement;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

@keyframes rightMovement {
  from{
    top:0;
    left:0;
  }
  to{
    top: 0;
    left: 1200px;
  }
}